html {
    font-family: Ubuntu, sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    box-shadow: 8px 8px 0.4em #628ca6;
}

tbody td,
tbody th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px;
}

td {
    text-align: center;
}

thead th,
tfoot td {
    padding: 5px;
    background-color: #7fb9c2;
}

thead th {
    font-size: 20px;
    font-weight: bolder;
}

tbody tr {
    background-color: #e7ffed;
}

tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}

.special {
    color: white;
    background-color: #628ca6;
}

tfoot td {
    font-size: 10px;
}
